{% extends "layout/partials/_content.html" %}
{% block content %}
    <div class="row g-5 gx-xl-10 mb-5 mb-xl-10">
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
            <div class="card bg-light-success">
                <div class="card-body">
                   Access Key Heath
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
            <div class="card">
                <div class="card-body">
                   Access Key Count
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
            <div class="card">
                <div class="card-body">
                   Application Count
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
            <div class="card">
                <div class="card-body">
                   Company Count
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5 gx-xl-10 mb-5 mb-xl-10">
        <div class="col-12 mb-md-5 mb-xl-10">
            <div class="card">
                <div class="card-body">
                   Request  Chart: Stored in New DB Table
                </div>
            </div>
        </div>
    </div>
    <div class="row g-5 gx-xl-10 mb-5 mb-xl-10">
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
            <div class="card bg-light-success">
                <div class="card-body">
                   Device Activity: Stored in New DB Table
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
            <div class="card">
                <div class="card-body">
                   Top 10 Active Locations: Stored in New DB Table
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-4 mb-md-5 mb-xl-10">
            <div class="card">
                <div class="card-body">
                   Unknown API Requests: dataset Item that were not recognized
                </div>
            </div>
        </div>
    </div>
{% endblock %}