<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',path='css/main.css')}}">
    <title> Snapi Administrator</title>
</head>
<body>
    <div class="base">
        <h1 class="mb-3 text-center">Welcome to Snapi Engineers</h1>

        {% block content %}

        {% endblock content %}
    </div>

</body>
</html>
