{% extends "layout/partials/_content.html" %}
{% block title %}
    API Keys
{% endblock %}
{% block content %}
    <div class="row justify-content-center g-5 gx-xl-10 mb-5 mb-xl-10">
        <div class="col-md-9 col-lg-8 col-xl-6 col-xxl-9 mb-md-5 mb-xl-10">
            {% if token %}
                <!--begin::Alert-->
                <div class="alert alert-dismissible bg-light-success d-flex flex-center flex-column py-10 px-10 px-lg-20 mb-10">
                    <!--begin::Close-->
                    <button type="button" class="position-absolute top-0 end-0 m-2 btn btn-icon btn-icon-success"
                            data-bs-dismiss="alert">
                        <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </button>
                    <!--end::Close-->

                    <!--begin::Icon-->
                    <i class="ki-duotone ki-key fs-5tx text-success mb-5">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <!--end::Icon-->

                    <!--begin::Wrapper-->
                    <div class="text-center w-100">
                        <!--begin::Title-->
                        <h1 class="fw-bold mb-5">Token Generated</h1>
                        <!--end::Title-->

                        <!--begin::Separator-->
                        <div class="separator separator-dashed border-danger opacity-25 mb-5"></div>
                        <!--end::Separator-->

                        <!--begin::Content-->
                        <div class="mb-9 text-dark">
                            <label for="token_clipboard">{{ token.message }}</label>
                            <textarea id="token_clipboard"
                                      class="fw-bold fs-4 mt-5 form-control text-center form-control-transparent h-sm-175px h-md-auto resize-none" rows="3">{{ token.token }}</textarea>
                        </div>
                        <!--end::Content-->

                        <!--begin::Buttons-->
                        <div class="d-flex flex-center flex-wrap">
                            <button data-bs-dismiss="alert"
                                    class="btn btn-outline btn-outline-dark btn-active-dark m-2 fs-6">Close
                                Message
                            </button>
                            <button class="btn btn-success m-2" id="token_clipboard_button" data-bs-toggle="tooltip"
                                    data-bs-custom-class="tooltip-inverse" data-bs-placement="top"
                                    title="Copy">
                                <i class="ki-duotone ki-copy fs-2 text-white"></i>
                            </button>
                        </div>
                        <!--end::Buttons-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Alert-->
            {% endif %}

            <div class="row">
                <div class="col-xl-12">

                    <div class="card card-xl-stretch mb-5 mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title fw-bold text-dark d-flex flex-column gap-2">Access Tokens. <small
                                    class="card-subtitle fw-normal"> Tokens you have generated that can be used to
                                access the API on your behalf.</small></h3>

                        </div>
                        <div class="separator separator-dashed border-danger opacity-25 mb-5"></div>
                        <!--end::Header-->

                        <!--begin::Body-->
                        <div class="card-body pt-0">
                            <!--begin::Item-->
                            <div class="d-flex align-items-center bg-light-warning rounded p-5 mb-7">
                                <i class="ki-duotone ki-key-square text-warning fs-1 me-5">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                                <!--begin::Title-->
                                <div class="flex-grow-1 me-2">
                                    <a href="#" class="fw-bold text-gray-800 text-hover-primary fs-6">Application
                                        Name</a>
                                    <div class="d-flex gap-5">
                                        <span class="text-muted fw-semibold d-block">Created at</span>
                                        <span class="text-muted fw-semibold d-block">Expires at</span>
                                        <span class="text-muted fw-semibold d-block">Last Used at</span>
                                    </div>

                                </div>
                                <!--end::Title-->

                                <!--begin::Lable-->
                                <button class="btn btn-outline-danger btn-sm">
                                    <i class="ki-duotone text-dark ki-trash fs-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>
                                </button>
                                <!--end::Lable-->
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Body-->
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toastr-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        // Select elements
        const target = document.getElementById('token_clipboard');
        const button = document.getElementById('token_clipboard_button');

        clipboard = new ClipboardJS(button, {
            target: target,
            text: function () {
                return target.innerHTML;
            }
        });

        // Success action handler
        clipboard.on('success', function (e) {
            var checkIcon = button.querySelector('.ki-check');
            var copyIcon = button.querySelector('.ki-copy');

            // Exit check icon when already showing
            if (checkIcon) {
                return;
            }

            toastr.success("Copied to Clipboard!");

            // Create check icon
            checkIcon = document.createElement('i');
            checkIcon.classList.add('ki-duotone');
            checkIcon.classList.add('ki-check');
            checkIcon.classList.add('fs-2');

            // Append check icon
            button.appendChild(checkIcon);

            // Highlight target
            const classes = ['text-success', 'fw-boldest'];
            target.classList.add(...classes);

            // Highlight button
            button.classList.add('btn-success');

            // Hide copy icon
            copyIcon.classList.add('d-none');

            // Revert button label after 3 seconds
            setTimeout(function () {

                // Remove check icon
                copyIcon.classList.remove('d-none');

                // Revert icon
                button.removeChild(checkIcon);

                // Remove target highlight
                target.classList.remove(...classes);
            }, 5000)
        });

    </script>
{% endblock %}