{% extends "layout/partials/_content.html" %}
{% block title %}
    Applications
{% endblock %}
{% block content %}

    <div class="row justify-content-center g-5 gx-xl-10 mb-5 mb-xl-10">
        <div class="col-md-9 col-lg-9 col-xl-9 col-xxl-8 mb-md-5 mb-xl-10">

            <div class="card card-flush shadow-sm">
                <div class="card-header">
                    <h3 class="card-title">New Application</h3>
                    <div class="card-toolbar">
                        <a href="{{ url_for('applications.create') }}" class="btn btn-light-primary btn-sm">
                            <i class="ki-duotone ki-plus-square fs-2 text-active-primary">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                            </i>
                            Create
                            New</a>
                    </div>
                </div>
                <div class="card-body">
                    {% if not applications|length %}
                        <!--begin::Alert-->
                        <div class="alert alert-dismissible bg-light-primary d-flex flex-center flex-column py-10 px-10 px-lg-20 mt-5">
                            <!--begin::Icon-->
                            <i class="ki-duotone ki-information-5 fs-5tx text-primary mb-5"><span
                                    class="path1"></span><span class="path2"></span><span
                                    class="path3"></span></i>
                            <!--end::Icon-->

                            <!--begin::Wrapper-->
                            <div class="text-center">
                                <!--begin::Title-->
                                <h1 class="fw-bold mb-5">Nothing here!</h1>
                                <!--end::Title-->

                                <!--begin::Separator-->
                                <div class="separator separator-dashed border-primary opacity-25 mb-5"></div>
                                <!--end::Separator-->

                                <!--begin::Content-->
                                <div class="mb-9 text-dark">
                                    It seems you haven't created any Applications yet. Want to create one?
                                </div>
                                <!--end::Content-->

                                <!--begin::Buttons-->
                                <div class="d-flex flex-center flex-wrap">
                                    <a href="{{ url_for('applications.create') }}" class="btn btn-primary m-2">Create
                                        Application</a>
                                </div>
                                <!--end::Buttons-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Alert-->

                    {% else %}
                        <table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
                            <thead>
                            <tr>
                                <th class="fw-bold text-uppercase">Name</th>
                                <th class="fw-bold text-uppercase">Company</th>
                                <th class="fw-bold text-uppercase">Tokens</th>
                                <th class="fw-bold text-uppercase">Status</th>
                                <th class="fw-bold text-uppercase">Created</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for application in applications %}
                                <tr>
                                    <td>{{ application.name }}</td>
                                    <td>{{ application.company.name }}</td>
                                    <td>{{ '0' if application.access_tokens == None else application.access_tokens|length }}</td>
                                    <td><span
                                            class="badge py-3 px-4 fs-7 badge-light-primary">{{ application.status.name|capitalize }}</span>
                                    </td>
                                    <td>{{ application.created_at }}</td>
                                    <td>
                                        <button class="btn btn-icon btn-color-gray-400 btn-active-color-primary justify-content-end"
                                                data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end"
                                                data-kt-menu-overflow="true">
                                            <i class="ki-duotone ki-dots-square fs-1 text-gray-400 me-n1"><span
                                                    class="path1"></span><span class="path2"></span><span
                                                    class="path3"></span><span class="path4"></span></i>
                                        </button>
                                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px"
                                             data-kt-menu="true" style="">

                                            <div class="menu-item px-3">
                                                <div class="menu-content fs-6 text-dark fw-bold px-3 py-4">Quick Actions
                                                </div>
                                            </div>


                                            <!--begin::Menu separator-->
                                            <div class="separator mb-3 opacity-75"></div>
                                            <!--end::Menu separator-->


                                            <div class="menu-item px-3">
                                                <a href="{{ url_for('applications.edit', application_id=application.id) }}"
                                                   class="menu-link px-3 d-flex gap-5">
                                                    <i class="ki-duotone ki-pencil text-dark fs-2">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i><span>Edit Details</span>
                                                </a>
                                            </div>

                                            <div class="menu-item px-3">
                                                <a href="{{ url_for('apikeys.create') }}"
                                                   class="menu-link px-3 d-flex gap-5">
                                                    <i class="ki-duotone ki-key-square text-dark fs-2">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                    <span>Create Token</span>
                                                </a>
                                            </div>

                                            <!--begin::Menu separator-->
                                            <div class="separator mt-3 opacity-75"></div>
                                            <!--end::Menu separator-->


                                            <div class="menu-item px-3">
                                                <div class="menu-content px-3 py-3">
                                                    <button class="btn btn-light-danger w-100 btn-sm px-4 delete-application"
                                                            data-id="{{ application.id }}">
                                                        Delete Application
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            handleDeleteApplication();
        });

        function handleDeleteApplication() {
            let deleteApplicationBtn = $('.delete-application')

            deleteApplicationBtn.on('click', function (e) {
                let itemId = $(this).data('id')
                let url = "{{ url_for('applications.destroy', application_id=':item_id:') }}"
                Swal.fire({
                    title: 'Confirm Action',
                    text: "Are you sure, you want to delete this App? Deleting the app will subsequently delete all tokens associated with it",
                    icon: "info",
                    buttonsStyling: false,
                    showCancelButton: true,
                    confirmButtonText: "Yes, I'm sure!",
                    customClass: {
                        confirmButton: "btn btn-light-primary",
                        cancelButton: "btn btn-danger"
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.axios
                            .delete(url.replace(':item_id:', itemId))
                            .then((response) => {
                                Swal.fire(
                                    'Deleted!',
                                    'Application has been deleted.',
                                    'success'
                                ).then(() => {
                                    window.location.replace("{{ url_for('applications.index') }}")
                                })
                            })
                            .catch(error => {
                                Swal.fire(
                                    'Failed to Delete!',
                                    'Application could not be deleted.',
                                    'error'
                                )
                            })
                    }
                })
            })
        }
    </script>
{% endblock %}